html, body {
    margin: 0px;
    padding: 0px;

}



#dropzone {
    position: absolute;
    padding: 47px;
    border-bottom: 9px solid white;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    text-align: -webkit-left;
    font-size: 12px;
    line-height: 18px;
    font-family: monospace;
    width: 100%;
    height: 100000%;
    margin-top: 0%;
}

p#dropzone{
  position: fixed;
}

img {
    max-width: 80vw;
    max-height: auto;
    padding: 9px;
    margin-top: 10%;
    margin-left: 10%;
    margin-botton: 10px;
}
